{% extends 'base.html'%}

{% block content %}
        <div class="card">
            <div class="card-body">
              {% if messages%}
              {% for message in messages%}
              <div class="alert alert-success"> {{message}}</div>
              {% endfor%}

              {% endif%}
                <h1 style="text-align: center;">Signup</h1>
                
                <form method="POST" action="" novalidate>
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="username" class="form-label">UserName</label>
                    {{form.username}}
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    {{form.email}}
                  </div>
                  <div class="mb-3">
                    <label for="password1" class="form-label">Password</label>
                    {{form.password1}}
                  </div>
                  <div class="mb-3">
                    <label for="password2" class="form-label">Confirm Password</label>
                    {{form.password2}}
                  </div>
                  <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    {{form.address}}
                  </div>
                 
                    <button type="submit" class="btn btn-primary">Signup</button>
                  </form>
                  <div class="mb-8">
                    
                    Allready have an Account <a href="{% url 'login'%} " style="text-decoration: none;" class="mb-3"> Login</a>
                  </div>

            </div>
          </div>
 {% endblock%}     